header {
  width: 100%;
  background-color: cornflowerblue;
}

header > .href {
  display: flex;
  justify-content: center;
}

header > .href ul, header >　.href ul li {
  list-style: none;
  padding-left: 0;
}

header > .href > ul {
  display: flex;
}

header > .href > ul > li {
  position: relative;
  padding: 1em 2em;
  margin: 0 2em;
}

header > .href > ul > li:hover > ul{
  display: block;
}

header > .href > ul > li > ul {
  position: absolute;
  display: none;
}


header > .href > ul > li > ul > li {
  margin-top: 1em;
}

header > .href > ul > li > ul > li a{
  color: black;
  margin-top: 2em;
  padding-left: 2rem;
}

