body {
  background-color: rgb(255 251 233) !important;
}

header {
  width: 100%;
  background-color: cornflowerblue;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header > .icon {
  font-size: 36px;
  color: black;
}

header > .icon:hover {
  text-decoration: none;
  color: black;
}

header > .href {
  display: flex;
  justify-content: center;
}

header > .href ul, header >　.href ul li {
  list-style: none;
  padding-left: 0;
}

header > .href > ul {
  display: flex;
}

header > .href > ul > li {
  cursor: pointer;
  position: relative;
  padding: 1em 2em;
  margin: 1em 2em;
}

header > .href > ul > li:hover {
  background-color: rgba(0,0,0,0.7);
  color: white;
}

header > .href > ul > li:hover > ul{
  display: block;
}

header > .href > ul > li > ul {
  position: absolute;
  margin-top: 1em;
  display: none;
  width: 150px;
  background-color: rgb(255, 255, 255, 0.6);
  left: 0;
  border-top: 1px black solid;

}


header > .href > ul > li > ul > li {
  width: 55%;
  margin-top: 1em;
  border-bottom: 1px gray solid;
  margin-left: 3rem;
}

header > .href > ul > li > ul > li a{
  width: 100%;
  color: black;
  font-size: 14px;
  text-decoration: none;
}



